@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@100;400&family=Rubik:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #1b1b1b;
}

.nav {
  background: #1b1b1b;
  width: 100%;
  height: 95px;
}

.img {
  text-align: center;

}

.img img {
  width: 100px;
  border-radius: 100px;
}

.menu-btn {
  position: absolute;
  color: #fff;
  top: 35px;
  font-size: 25px;
  right: 20px;
}

#click:checked~.menu-btn i:before {
  content: "\f00d";
}

nav ul {
  position: absolute;
  top: -200%;
  left: 0;
  background: transparent;
  height: 100px;
  width: 100%;
  display: block;
}

#click:checked~ul {
  top: 85px;
}

nav ul li {
  width: 100%;
  margin: 10px 0;
  text-align: right;
}

nav ul li a {
  width: 100%;
  margin-top: -100%;
  color: #fff;
  display: block;
  font-size: 15px;
  padding: 10px;
}

#click:checked~ul li a {
  margin-top: 0px;
}

a.active,
a:hover {
  color: rgb(246, 244, 248);
}

input[type="checkbox"]{
  display: none;
}
/* ====== ======*/
h1{
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}
/* ====== ======*/
.faq-content {
  color: #fff;
  padding: 10px;
}

.faq-question {
  padding: 5px 0;
}

.panel-title {
  font-size: 15px;
  position: relative;
  padding: 10px 0 0 13px;
  display: block;
  cursor: pointer;
  color: #ccc;
  background: #000;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 40px;
	border-radius: 10px;
}
.h1{
  color: #fff;
  font-size: 20px;
}
.panel-content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 23px;
  padding: 0px 14px;
  height: 0;
  background: #1b1b1b;
	border-radius: 10px;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

 .usage{
   padding: 5px;
 }
 .usage .name{
   padding: 8px;
   font-size: 17px;
 }
 .usage .name-1{
   font-size: 15px;
   padding: 3px;
   color: #8b8b8b;
   
 }
.panel:checked ~ .panel-content{
  height: auto;
  opacity: 1;
  padding: 14px;
}
/* ====== ======*/
footer{
  width: 100%;
  height: 50px;
  background: #1b1b1b;
}

.name-2{
  text-align: center;
  color: #fff;
  padding: 10px;
  font-size: 15px;
}

.panel {
  display: none;
}
@media (max-width: 789px) {
  .nav {
    height: 75px;
  }

  .menu-btn {
    top: 25px;
    font-size: 20px;
  }

  .img img {
    border-radius: 100px;
    border: 1px solid #1b1b1b;
    width: 80px;
  }

  #click:checked~ul {
    top: 70px;
  }
  /* ====== ======*/
  .panel-title{
    height: 45px;
    font-size: 13px;
    width: 98%;
  }
  .panel-content{
    width: 100%;
  }
}